<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="round-button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Criar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clientForm" (ngSubmit)="createClient()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input formControlName="phoneNumber"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!clientForm.valid"
      >Criar</ion-button
    >
  </form>
</ion-content>
