<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Estafetas Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estafeta App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Uma aplicação para estafetas mais rápidos do que cometas</p>
      <ion-list>        
        <ion-item button (click)="navigateTo('settings')">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Clientes</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('settings')">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Ordens</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('settings')">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Loja</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('settings')">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Armazém</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('settings')">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-item>
        <app-mapa></app-mapa>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
